---
---

@import "{{ site.theme }}";

a {
  color: #993333;

  &:hover, &:focus {
    color: darken(#993333, 10%);
  }
}

.ideal-image-slider {
  margin-bottom: 20px;
}

header {
  position: relative;
}

.logo {
  position: absolute;
  max-width: 50px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 960px) {
  .logo {
    display: block;
    max-width: 200px;
  }
}
